.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
}

.btn-Default {
  color: #333333;
  background-color: #FFFFFF;
  border-color: #CCCCCC;
}

.btn-Primary {
  color: #ffffff;
  background-color: #009bdf;
}

.createFactory {
   cursor: pointer;
}

.factoryHeader-Text {
    color: white;
    margin-top: 10px;
}

.factoryModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.factoryModal-Body {padding: 2px 16px;}

.factoryModal-Content {
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    position: absolute;
    position:absolute;
    top:50%;
    left:50%;
    width:400px;  /* adjust as per your needs */
    height:250px;   /* adjust as per your needs */
    margin-left:-200px;   /* negative half of width above */
    margin-top:-200px;   /* negative half of height above */
}

.factoryModal-Footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.factoryModal-Header {
    padding: 2px 16px;
    background-color: #009bdf;
    color: white;
}

/* The Close Button */
.factoryModalSpanClose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.factoryModalSpanClose:hover,
.factoryModalSpanClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.factoryRanges {
    border-radius: 25px;
    background: #828282;
    padding-left:20px;
    padding-right:20px;
    color: #FFFFFF;
}

#tree tr:hover {background-color: #f8f8f8;}

/* Add Animation */
@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}